snippet subprocess_call "subprocess call" b
import subprocess
out = subprocess.call(${1:command})
endsnippet

snippet subprocess_popen "subprocess call" b
import subprocess
child = subprocess.Popen(${1:command}, stdin=subprocess.PIPE, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
stdoutput, erroutput = child.communicate(${2:std_input})
endsnippet
